body{
    background-color: #ccc;
}

#banner{
    width: 100%;
}

h1{
    color: black;
    text-align: center;
}

p{
    text-align: center;
}


#missao{
    font-size: 20px;
}

em strong{
    color: red;
}