header{
    background-color: plum;
    padding: 20px 0;
}

.caixa{
  width: 940px;
  position: relative;
  margin: 0 auto;
}
  

nav{
    position: absolute;
    top: 110px;
    right: 0;

}

nav li{
    display: inline-block;
    margin: 0 0 0 27px;;
}

nav a{
    text-transform: uppercase;
    color: purple;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
}

nav a:hover {
    color: #c78c19;
    text-decoration: underline;
}

.produtos{
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li{
    display: inline-block;
    text-alig.enviar:houver {
        background: darkorange;
    }n: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #3c24a5;
    border-radius: 10px;
}

.produtos li:hover {
    border-color: #c78c19;
}

.produtos li:active{
    border-color: #8c0859;
}

.produtos li:hover h2 {
    font-size: 40px;
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

.produto-descriçao {
    font-size: 18px;
}

.produto-preço{
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0 0;
}

footer {
    text-align: center;
    background: url("bg.jpg");
    padding: 40px 0px;
}

.copyright {
    color: #b3228ee8;
    font-size: 13px;
    margin: 20px 0 0;
}

main {
    width: 940px;
    margin: 0 auto;
}


form label, form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padrao {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox {
    margin: 10px 0;
}

.enviar {
    width:40%;
    padding: 4px 0;
    background: orange;
    color: rgb(114, 11, 114);
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s all; 
    cursor: pointer;
    margin: 20px;
}

.enviar:hover {
    background: plum;
}
